th,td{
    width: 250px;
    border: 1px solid rgb(15, 15, 251);
    height: 30px;
}
.model{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.model-input{
    border: 1px solid rgb(13, 13, 245);
    width: 250px;
    height: 40px;
    text-align: center;
}
.model-select{
    border: 1px solid rgb(19, 19, 253);
    width: 250px;
    height: 40px;
    margin-left: 1px;
}
.model-btn{
    width: 250px;
    height: 40px;
    background: rgb(5, 5, 255);
    color: #FFFF;
    margin-left: 1px;
    border: 1px solid rgb(14, 14, 248);
    margin-bottom: 6px;
}
.model-btn:hover{
    transform: scale(0.98);
    transition: 1s;
    background: rgb(248, 11, 11);
    border: 1px solid #f0eeee;
}
.model-input:hover{
    color: #f2efef;
    text-align: center;
    transform: scale(0.98);
    transition: 1s;
    background: rgb(8, 8, 252);
    border: 1px solid #f3ecec;
}
.model-select:hover{
    color: #f4f2f2;
    transform: scale(0.98);
    transition: 1s;
    background: rgb(9, 9, 252);
    border: 1px solid #FFFF;
}
.td{
    border: none;
    /* text-align: center; */
}
.model-btn-a{
    background-color: blue;
    color: #FFFF;
    border: 1px solid blue;
    width: 250px;
    border-radius: 1px;
}
.model-btn-b{
    background-color: red;
    border: 1px solid red;
    width: 250px;
    border-radius: 1px;
    color: #FFFF;
}
.th-a{
    background-color: rgb(227, 18, 81);
    color: #FFFF;
}
.th-b{
    background-color: green;
    color: #FFFF;
}
.th-c{
    background-color: brown;
    color: #FFFF;
}